.wrapper {
    padding: 10px;
    .d-flex {
        gap: 5px;
    }

    .title {
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        color: #003087;
        margin-left: 15px;
        font-weight: bold;
        line-height: 1;
        span {
            display: block;
        }
    }

    .ms-auto {
        margin-left: auto;
    }
    .form-control {
        width: 200px;
    }

    // Responsive cho điện thoại
    @media (max-width: 768px) {
        padding: 1px; // Giảm padding
        .title {
            display: none; // Ẩn title trên mobile
        }
        .form-control {
            width: 150px; // Giảm chiều rộng ô tìm kiếm
        }
        .form-select {
            width: 150px; // Giảm chiều rộng select
        }
    }
    @media (max-width: 480px) {
        .title {
            display: none; // Ẩn title trên mobile
        }
        .form-control, .form-select {
            width: 70px; // Thu gọn hơn nữa
        }
    }
}